# macOS system files
.DS_Store

# Application executable
notepad

# Data directories
# Folder containing generated/saved page files
/pages/*
# Uncomment to keep empty directory in Git
!/pages/.gitignore