.App-note {
  padding: 5px;
  background-color: #282a36;
}

.App-Header {
  padding: 10px;
  background-color: #282a36;
  color: #f8f8f2;
}

.App-Header span {
  color: #ff79c6;
}

.Editor-container {
  display: flex;
  border: 1px solid #6272a4;
  border-radius: 5px;
  overflow: hidden;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  background-color: #282a36;
}

.Line-numbers {
  background-color: #282a36;
  color: #6272a4;
  padding: 0px 5px;
  text-align: right;
  border-right: 1px solid #44475a;
  user-select: none;
}

.Line-number {
  margin: 0;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  color: #6272a4;
}

.Zone-text {
  flex: 1;
  padding: 13px 10px 10px 10px;
  border: none;
  outline: none;
  resize: none;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  min-height: 825px;
  background-color: #282a36;
  color: #f8f8f2;
  caret-color: #ff79c6;
}

.Error-text {
  background-color: #f8f8f2;
  color: #ff5555;
  padding: 10px;
  margin: 0 0 15px 0;
  border-radius: 5px;
  text-align: center;
}

.Reconnection-button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius:3px;
  background-color: #6272a4;
  color: #fff;
  cursor: pointer;
}
